@{
    ViewData["Title"] = "Successful Submission";
}

<!-- This page displays when the form is successfully submitted -->
<h1>@ViewData["Title"]!</h1>

<p>Thanks for taking the time to share your favorite movies.</p>
