@{
    ViewData["Title"] = "The Joel Hitlon Film Collection";
}

<div class="text-center">
    <h5>Welcome to</h5>
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>I'm glad you came to the source of film knowledge!</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
