@{
    ViewData["Title"] = "My Podcasts";
}
<!-- Podcasts page view -->

<h1>@ViewData["Title"]</h1>

<p>If you're a movie lover, check out these podcasts:</p>

<a href="https://baconsale.com/" target="_blank"><h4>Baconsale Podcasts</h4></a>
