@{
    ViewData["Title"] = "Submit a Movie";
}

@model MovieForm;

<!-- page with html form that passes the user inputs to the model -->

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="post">
    <label asp-for="CategoryId">Category:</label>
    <select asp-for="CategoryId">
        <option value="">Select a category:</option>
        @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
    </select>
    <br />
    <label asp-for="Title">Movie Title:</label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Year">Year Released:</label>
    <input asp-for="Year" />
    <br />
    <label asp-for="Director">Director:</label>
    <input asp-for="Director" />
    <br />
    <label>Rating:</label>
    <select asp-for="Rating">
        <option value="">Select an option</option>
        <option value="R">G</option>
        <option value="PG-13">PG</option>
        <option value="PG">PG-13</option>
        <option value="G">R</option>
    </select>
    <br />
    <label>Edited?</label>
    Yes<input asp-for="Edited" type="radio" name="edit" value=true/>
    No<input asp-for="Edited" type="radio" name="edit" value=false />
    <br />
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo" />
    <br />
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" />
    <br />
    <button type="submit">Submit</button>
    <br />
    <div asp-validation-summary="All"></div>
</form>